{{!< default}}
<header class="masthead--post">
	<p>
		Welcome to <a href="{{@blog.url}}">{{@blog.title}}</a>, enjoy your stay.
	</p>
</header>

<main>
	{{#post}}
		{{> post-single}}
	{{/post}}
</main>



